<ion-header noborder id="header">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out">
        </ion-icon>
      </ion-button>
      <ion-back-button text="" defaultHref="/admin"></ion-back-button>

    </ion-buttons>
    Fiche distribution de MILDA
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-content">
  <fieldset>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <div class="col">
            <ion-item>
              <ion-input [(ngModel)]="beneficiaire.chefMenage" type="text" placeholder="Chef de ménage"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="col">
            <ion-item>
              <ion-input [(ngModel)]="beneficiaire.nni" type="number" placeholder="NNI"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="col">
            <ion-item>
              <ion-input [(ngModel)]="beneficiaire.contact" type="number" placeholder="Contact"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="col">
            <ion-item>
              <ion-input [(ngModel)]="beneficiaire.nbMilda" type="number" placeholder="Nombre des MILDA requis">
              </ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="col">
            <ion-item>
              <ion-input [(ngModel)]="beneficiaire.centre" type="text" placeholder="Centre de distribution"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </fieldset>

  <fieldset>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <div class="col">
            <ion-item>
              <ion-input [(ngModel)]="team.nomdistributeur" type="text" placeholder="Nom du distributeur"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="col">
            <ion-item>
              <ion-input [(ngModel)]="team.date" type="Date" placeholder="Date"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </fieldset>

  <fieldset>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="selectImage()">Prendre Photo</ion-button>


        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="block">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto()"></ion-icon>
            <img [src]="beneficiaire.photoBeneficiaire" *ngIf="beneficiaire.photoBeneficiaire" alt="">
          </ion-card>
        </ion-col>
      </ion-row>
 
    </ion-grid>
  </fieldset>

</ion-content>

<ion-footer>
  <ion-button expand="block" fill="outline" (click)="saveMilda()">Sauvegarder</ion-button>
</ion-footer>