<ion-header no-border id="header">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out">
        </ion-icon>
      </ion-button>
      <ion-back-button text="" defaultHref="/login"></ion-back-button>

    </ion-buttons>
    Gestion des collectes

  </ion-toolbar>
</ion-header>

<ion-content class="bg_class">
  <div class="spacer">
    <ion-button expand="block" (click)="milda()">Distribution MILD</ion-button>
  </div>

  <div class="spacer">
    <ion-button expand="block" (click)="medicament()">Distribution Médicament</ion-button>
  </div>

</ion-content>

<ion-footer style="background-color: blue;">
  <ion-toolbar>
    <img class="imagefotter" width="40" height="10" src="assets/icon/S3A/png" />
  </ion-toolbar>
</ion-footer>