<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    Projet PGIRE/OMVS
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-col col-lg-1>
    <img src="/assets/icon/omvs.jpeg" width="6" height="6" />

  </ion-col>
  <ion-card>
    <ion-card-content>
      <p>
        Cette application permet d'effectuer la collecte de données dans le cadre du projet d'enquête annuelle de suivi
        les années 2020 et 2021 du PIGRE dans le bassin du fleuve Sénégal
      </p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="seconnecter()">Accèder</ion-button>
</ion-content>

<ion-footer style="background-color: blue;">
  <ion-toolbar>
    <img class="imagefotter" width="60" height="15" src="assets/icon/Bes.png" />
  </ion-toolbar>
</ion-footer>