<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_class">
  <ion-col col-lg-1>
    <img src="/assets/icon/omvs.jpeg" width="8" height="8" />
  </ion-col>
  <form #registerForm="ngForm">
    <div class="container">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Identifiant" name="email" [(ngModel)]="registerCredentials.email"
                required="true"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password"
                [(ngModel)]="registerCredentials.password" required="true"></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
    </div>
    <div class="container">
      <ion-row>
        <ion-col class="container" inset>
          <ion-button expand="block" (click)="login()">Se connecter</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
<ion-footer style="background-color: blue;">
  <ion-toolbar>
    <img class="imagefotter" width="40" height="10" src="assets/icon/Bes.png" />
  </ion-toolbar>
</ion-footer>